body  {   
    background-color: rgb(246, 175, 218);
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.accordion {
    padding: 20px;
    border: 2px dotted yellow;
}

.accordion-head{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: larger;
    padding: 20px;
    border-bottom: 1px solid black;
}

.accordion-item{
    position: relative;
    margin-bottom: 10px;
    transition: 0.3s;
}

.accordion-item-input{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s;
}

.accordion-item-trigger{
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid black;
    transition: 0.3s;
    
}

.accordion-item-trigger::after{
    content: '\002B';}
.accordion-item-content{
    padding: 20px;
    transition: 0.3s;
    border-top: none;
    display: none;
}

.accordion-item-input:checked ~ .accordion-item-trigger{
    border-bottom: none;
    color: white;
    text-shadow: 1px 2px black;
}

.accordion-item-input:checked ~ .accordion-item-trigger::after{
    content: '\0078';
    }
.accordion-item-input:checked ~ .accordion-item-content {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    opacity: 1;
}

.meme{
    width: 500px;
    height: 500px;
    
}

@media (max-width: 1180px) {
    .meme{
        width: 300px;
        height: 300px;
    }
    .accordion-head{
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: medium;
        padding: 25px;
        border-bottom: 1px solid black;
    }
    .accordion-item-trigger{
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        font-size: medium;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        border-bottom: 1px solid black;
        
    }
}

@media (max-width: 360px) {
    .meme{
        width: 200px;
        height: 200px;
    }

    .accordion-head{
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: small;
        padding: 10px;
        border-bottom: 1px solid black;
    }
    .accordion-item-trigger{
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        font-size: small;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid black;
        
    }
}
    
