body  {   
    background-color: rgb(246, 175, 218);
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.accordion {}

.accordion-head{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: larger;
    padding: 20px;
    border-bottom: 1px solid black;
}

.accordion-item{
    position: relative;
    margin-bottom: 10px;
}

.accordion-item-input{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.accordion-item-trigger{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid black;
    
}

.accordion-item-trigger::after{
    content: '\002B';}
.accordion-item-content{
    padding: 20px;
    
    border-top: none;
    display: none;
}

.accordion-item-input:checked ~ .accordion-item-trigger{
    border-bottom: none;
}

.accordion-item-input:checked ~ .accordion-item-trigger::after{
    content: '\0078';}
.accordion-item-input:checked ~ .accordion-item-content {
    display: block;
    border-bottom: 1px solid black;
}

.meme{
    width: 500px;
    height: 500px;
}


